<!-- <div *ngFor="let Employee of test">
  <div>{{ Employee.fname }} {{ Employee.lname }}</div>
</div> -->

<table class="table">
  <tr>
    <td colspan="6">Enter First Name:</td>
    <td colspan="6">
      <input type="text" ng-model="firstname" />
    </td>
  </tr>
  <tr>
    <td colspan="6">Enter Last Name:</td>
    <td colspan="6">
      <input type="text" ng-model="lastname" />
    </td>
  </tr>
  <tr aria-colspan="12">
    <td colspan="6">Select Type Of Employee:</td>
    <td colspan="6">
      <select ng-model="myVar">
        <option value=""></option>
        <option value="Yes Bank Employee">Yes Bank Employee</option>
        <option value="Clover Infotech Employee">
          Clover Infotech Employee
        </option>
        <option value="Other Vendor ">Other Vendors</option>
      </select>
    </td>
  </tr>
  <tr aria-colspan="12">
    <td colspan="6">
      <input id="Submit" type="button" value="Submit" />
    </td>
    <td colspan="6">
      <input id="Submit" type="button" value="Reset" />
    </td>
  </tr>
</table>

<h2 class="YesBackground">YES BANK EMPLOYEE LIST</h2>
<table aria-colspan="12" border="10px">
  <tr class="color" aria-colspan="12">
    <td aria-colspan="6">First Name</td>
    <td aria-colspan="6">Last Name</td>
  </tr>
  <tr aria-colspan="12" *ngFor="let Employee of test">
    <td aria-colspan="6">{{ Employee.fname }}</td>
    <td aria-colspan="6">{{ Employee.lname }}</td>
  </tr>
</table>
<br />
<table aria-colspan="12">
  <tr aria-colspan="12">
    <td aria-colspan="6">
      <input id="AddEmployees" type="button" value="ADD Employees" />
    </td>
    <td aria-colspan="6">
      <input id="UpdateEmployees" type="button" value="Update Employees" />
    </td>
  </tr>
</table>
