<!-- <div *ngFor="let Employee of test">
  <div>{{ Employee.fname }} {{ Employee.lname }}</div>
</div> -->

<table>
  <tr>
    <td colspan="6">Enter First Name:</td>
    <td colspan="6">
      <input class="form-control" type="text" ng-model="firstname" />
    </td>
  </tr>
  <tr>
    <td colspan="6">Enter Last Name:</td>
    <td colspan="6">
      <input class="form-control" type="text" ng-model="lastname" />
    </td>
  </tr>
  <tr aria-colspan="12">
    <td colspan="6">Select Type Of Employee:</td>
    <td colspan="6">
      <select
        ng-model="myVar"
        class="form-select"
        aria-label="Default select example"
      >
        <option value="Select">---Select---</option>
        <option value="Yes Bank Employee">Yes Bank Employee</option>
        <option value="Clover Infotech Employee">
          Clover Infotech Employee
        </option>
        <option value="Other Vendor ">Other Vendors</option>
      </select>
    </td>
  </tr>
  <tr aria-colspan="12">
    <td colspan="6">
      <input
        id="Submit"
        class="btn btn-outline-primary btn-sm"
        type="button"
        value="Submit"
      />
    </td>
    <td colspan="6">
      <input
        id="Submit"
        class="btn btn-outline-primary btn-sm"
        type="button"
        value="Reset"
      />
    </td>
  </tr>
</table>

<h2 class="YesBackground">YES BANK EMPLOYEE LIST</h2>
<table class="table" aria-colspan="12" border="1px">
  <tr class="table-primary" aria-colspan="12">
    <td class="color" aria-colspan="6">First Name</td>
    <td class="color" aria-colspan="6">Last Name</td>
  </tr>
  <tr class="table-primary" aria-colspan="12" *ngFor="let Employee of test">
    <td aria-colspan="6">{{ Employee.fname }}</td>
    <td aria-colspan="6">{{ Employee.lname }}</td>
  </tr>
</table>

<table aria-colspan="12">
  <tr class="table-primary" aria-colspan="12">
    <td aria-colspan="6">
      <input
        id="AddEmployees"
        class="btn btn-outline-primary btn-sm"
        type="button"
        value="ADD Employees"
      />
    </td>
    <td aria-colspan="6">
      <input
        id="UpdateEmployees"
        class="btn btn-outline-primary btn-sm"
        type="button"
        value="Update Employees"
      />
    </td>
  </tr>
</table>
