<h2 class="CloverBackground">CLOVER INFOTECH EMPLOYEE LIST</h2>

<table class="table" aria-colspan="12" border="1px">
  <tr class="table-primary" aria-colspan="12">
    <td class="color" colspan="6">First Name</td>
    <td class="color" colspan="6">Last Name</td>
  </tr>
  <tr
    class="table-primary"
    aria-colspan="12"
    *ngFor="let Employee of CloverEmployees"
  >
    <td colspan="6">{{ Employee.fname }}</td>
    <td colspan="6">{{ Employee.lname }}</td>
  </tr>
</table>
<br />
<table aria-colspan="100%">
  <tr colspan="12">
    <td colspan="6">
      <input
        id="AddEmployees"
        class="btn btn-outline-primary btn-sm"
        type="button"
        value="ADD Employees"
      />
    </td>

    <td colspan="6">
      <input
        id="UpdateEmployees"
        class="btn btn-outline-primary btn-sm"
        type="button"
        value="Update Employees"
      />
    </td>
  </tr>
</table>
